---
import "@styles/index.css";

import Logo from "@components/Logo.astro";

const { logoActive } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="relative">
    <Logo active={logoActive} />
    <div
      class="fixed inset-0 w-full h-full grid-main pointer-events-none select-none opacity-20"
    >
      <div class="w-full border-l border-grey"></div>
      <div class="w-full border-l border-grey"></div>
      <div class="w-full border-l border-grey"></div>
      <div class="w-full border-l border-grey"></div>
      <div class="w-full border-l border-grey"></div>
    </div>

    <main
      class:list={{
        "mt-[5.8125vw]": !logoActive,
        "mt-[2.90625vw]": logoActive,
      }}
    >
      <slot />
    </main>
  </body>
</html>
