---
import "@styles/index.css";
import { ViewTransitions } from "astro:transitions";
import { sanityClient } from "sanity:client";

import Logo from "@components/Logo.svelte";
import Guides from "@components/Guides.astro";
import Footer from "@components/Footer.svelte";
import Main from "@components/Main.svelte";
import Contact from "@components/Contact.svelte";
import Seo from "@components/Seo.astro";

import { settingsQuery } from "@utils/queires";

const { logoActive, seo } = Astro.props;

const settings = await sanityClient.fetch(settingsQuery);

const SEO = {
  title: seo?.title
    ? `${seo.title} - ${settings.seo.title}`
    : settings.seo.title,
  description: seo?.description || settings?.seo?.description,
  keywords: seo?.keywords || settings?.seo?.keywords,
  image: seo?.image?.url || settings?.seo?.image?.url,
  favicon: settings?.seo?.favicon?.url,
};
---

<html
  lang="en"
  class="h-screen w-screen overflow-hidden"
  transition:animate="none"
>
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />

    <Seo {...SEO} />
  </head>
  <body
    style={{
      "--logo-mobile": "21.33333333vw",
      "--logo-desktop": logoActive ? "2.90625vw" : "5.8125vw",
      "--footer-height": "28.6px",
    }}
    class="grid-main relative h-full w-full overflow-hidden bg-white"
  >
    <Logo active={logoActive} client:load />
    <Guides />

    <Footer client:load />

    <Main client:load>
      <slot />
    </Main>

    <Contact client:load />
  </body>
</html>
