---
import "@styles/index.css";
import { ViewTransitions } from "astro:transitions";

import Logo from "@components/Logo.svelte";
import Guides from "@components/Guides.astro";
import Footer from "@components/Footer.svelte";
import Main from "@components/Main.svelte";
import Contact from "@components/Contact.svelte";

const { logoActive } = Astro.props;
---

<html
  lang="en"
  class="h-screen w-screen overflow-hidden"
  transition:animate="none"
>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body
    style={{
      "--logo-mobile": "21.33333333vw",
      "--logo-desktop": logoActive ? "2.90625vw" : "5.8125vw",
      "--footer-height": "28.6px",
    }}
    class="grid-main relative h-full w-full overflow-hidden bg-white"
  >
    <Logo active={logoActive} client:load />
    <Guides />

    <Footer client:load />

    <Main client:load>
      <slot />
    </Main>

    <Contact client:load />
  </body>
</html>
