---
import "@styles/index.css";

import Logo from "@components/Logo.astro";
import Guides from "@components/Guides.astro";
import Footer from "@components/Footer.svelte";
import Contact from "@components/Contact.svelte";

const { logoActive } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    style={{
      "--logo-mobile": "21.33333333vw",
      "--logo-desktop": logoActive ? "2.90625vw" : "5.8125vw",
      "--footer-height": "28.6px",
    }}
    class="relative w-screen h-screen overflow-hidden bg-white grid-main"
  >
    <Logo active={logoActive} />
    <Guides />

    <Footer client:load />

    <main class="w-full h-full col-span-full">
      <slot />
    </main>

    <Contact client:load />
  </body>
</html>
