---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <h1 class="mt-logo text-h1 text-blue">
    <span class="text-grey">404</span> Page not found :(
  </h1>

  <a href="/" class="link">Back to home</a>
</Layout>
