---
import Layout from "@layouts/Layout.astro";
---

<Layout seo={{ indexed: false }}>
  <div class="mt-logo grid-main">
    <div class="col-span-2">
      <h1 class="text-blue text-h1 h-min whitespace-nowrap">
        Lane Wirihana Le Prevost-Smith
      </h1>
      <p class="text-h1 mb-4">Creative Developer</p>
    </div>

    <div class="col-start-2">
      <p class="text-b1 mb-4">
        I work as a freelance front-end developer, usually partnering with
        designers and creative agencies to build high-end websites. My focus is
        on using custom code (HTML, CSS, and JS) to turn creative concepts into
        functional, high-performance sites—especially when they require more
        complex interactions or custom graphics.
      </p>

      <div class="text-b1">
        <p>Hourly rate: $120 AUD</p>
        <p>Daily rate: $875 AUD</p>
        <p>Monthly rate: $15,750 AUD</p>
      </div>
    </div>
  </div>
</Layout>
