---
import { sanityClient } from "sanity:client";

import Layout from "@layouts/Layout.astro";
import { projectsQuery } from "@utils/queires";

import type { Project } from "../../types";

const projects: Project[] = await sanityClient.fetch(projectsQuery);

const pageSEO = {
  title: "Development",
  description: "List of development projects",
  keywords: [
    "Development Projects",
    "Web Development",
    "Frontend Development",
    "Web Development Portfolio",
    "Frontend Development Portfolio",
  ],
};
---

<Layout seo={pageSEO}>
  <ul class="mt-logo">
    {
      projects.map((project, index) => {
        const projectIndex = index + 1 > 9 ? index + 1 : `0${index + 1}`;
        const url = "/development/" + project.slug.current;

        return (
          <li class="text-h1 group">
            <span class="text-grey group-hover:text-blue/50 group-active:text-blue/30">
              {projectIndex}
            </span>
            <a
              href={url}
              class="text-dark-grey group-hover:text-blue group-active:text-blue"
            >
              {project.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
