---
import Layout from "@layouts/Layout.astro";
import ThrelteParticles from "@components/lab/threlte-particles/ThrelteParticles.svelte";

const pageSEO = {
  title: "Particles (Threlte + Rapier)",
  description:
    "A 3D particle experiment built with Threlte (Three.js + Svelte), Rapier and Astro.",
  keywords: [
    "Experiment",
    "Web Development",
    "Frontend Development",
    "Web Development Portfolio",
    "Frontend Development Portfolio",
  ],
};
---

<Layout seo={pageSEO}>
  <div class="h-screen">
    <ThrelteParticles client:load />
  </div>
</Layout>
