<section
  id="contact"
  class="group peer pointer-events-none fixed left-0 z-40 h-full w-screen translate-x-[100vw] mix-blend-difference transition-transform target:translate-x-0 sm-t:left-[46.4vw] sm-t:w-[53.6vw] sm-t:translate-x-[53.6vw]"
>
  <ul
    class="text-h1 relative flex h-full w-full flex-col justify-center group-target:pointer-events-auto"
  >
    <li>
      <h3 class="inline text-grey-invert">Email</h3>
      <a
        class="text-dark-grey-invert text-stroke-0.2 text-stroke-blue-invert"
        href="mailto:hello@lanelps.xyz"
        target="_blank"
        rel="noopener noreferrer">hello@lanelps.xyz</a
      >
    </li>
    <li>
      <h3 class="inline text-grey-invert">Github</h3>
      <a
        class="text-dark-grey-invert text-stroke-0.2 text-stroke-blue-invert"
        href="https://github.com/lanelps"
        target="_blank"
        rel="noopener noreferrer">@lanelps</a
      >
    </li>
    <li>
      <h3 class="inline text-grey-invert">Instagram</h3>
      <a
        class="text-dark-grey-invert text-stroke-0.2 text-stroke-blue-invert"
        href="https://www.instagram.com/lane_lps/"
        target="_blank"
        rel="noopener noreferrer">@lane_lps</a
      >
    </li>
    <li>
      <h3 class="inline text-grey-invert">LinkedIn</h3>
      <a
        class="text-dark-grey-invert text-stroke-0.2 text-stroke-blue-invert"
        href="https://www.linkedin.com/in/lane-lps/"
        target="_blank"
        rel="noopener noreferrer">lane-lps</a
      >
    </li>
  </ul>
</section>

<div
  class="pointer-events-none fixed left-0 z-30 h-full w-screen translate-x-[100vw] bg-white/30 backdrop-blur-[32px] transition-transform peer-target:translate-x-0 sm-t:left-[46.4vw] sm-t:w-[53.6vw] sm-t:translate-x-[53.6vw]"
>
</div>
