<footer
  id="footer"
  class="grid-main pointer-events-none fixed bottom-0 left-0 z-50 w-full pb-4 opacity-0 mix-blend-difference transition-opacity"
>
  <a
    href="/development"
    class="link-invert col-span-2 col-start-1 sm-t:col-span-1 sm-t:col-start-2"
    >Development</a
  >
  <a
    id="footer-contact"
    href="#contact"
    class="link-invert"
    aria-label="Open contact form"
    aria-controls="contact">Contact</a
  >
  <a
    id="footer-close"
    href="##"
    class="link-invert hidden"
    aria-label="Close contact form"
    aria-controls="contact">Close</a
  >
  <a href="/lab" class="link-invert">Lab</a>
</footer>
