<footer class="fixed bottom-0 left-0 w-full grid-main pb-4">
  <a
    href="/development"
    class="col-start-1 col-span-2 sm-t:col-start-2 sm-t:col-span-1 link"
    >Development</a
  >
  <a href="/contact" class="link">Contact</a>
  <a href="/lab" class="link">Lab</a>
</footer>
