<div
  class="fixed inset-0 w-full h-full grid-main pointer-events-none select-none opacity-10 z-50 mix-blend-difference"
>
  <div class="w-full"></div>
  <div class="w-full border-l border-grey"></div>
  <div class="w-full border-l border-grey"></div>
  <div class="w-full border-l border-grey"></div>
  <div class="hidden sm-t:block w-full border-l border-grey"></div>
</div>
