<div
  class="grid-main pointer-events-none fixed inset-0 z-50 h-full w-full select-none opacity-10 mix-blend-difference"
>
  <div class="w-full"></div>
  <div class="w-full border-l border-grey"></div>
  <div class="w-full border-l border-grey"></div>
  <div class="w-full border-l border-grey"></div>
  <div class="hidden w-full border-l border-grey sm-t:block"></div>
</div>
