---
const { active } = Astro.props;
---

<div
  class="fixed top-0 left-0 w-screen group select-none z-50 mix-blend-difference"
>
  <!-- Desktop -->
  <svg
    viewBox="0 0 1600 93"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="hidden sm-t:block text-blue-invert transition-transform"
    class:list={{ "-translate-y-1/2": active }}
  >
    <g>
      <g>
        <path
          d="M0.0976562 2.82754H11.7238V80.4169H57.9837V90.2073H0.0976562V2.82754Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M117.542 89.9625C115.747 91.0232 113.259 91.5535 110.077 91.5535C107.384 91.5535 105.222 90.8192 103.591 89.3506C102.04 87.8005 101.265 85.3121 101.265 81.8854C98.4098 85.3121 95.0647 87.8005 91.2301 89.3506C87.4771 90.8192 83.3977 91.5535 78.992 91.5535C76.1365 91.5535 73.4033 91.2271 70.7925 90.5744C68.2633 89.9217 66.0605 88.9019 64.184 87.5149C62.3075 86.1279 60.7981 84.333 59.6559 82.1302C58.5953 79.8457 58.065 77.1126 58.065 73.9307C58.065 70.3408 58.6769 67.4037 59.9007 65.1193C61.1245 62.8348 62.7154 60.9991 64.6735 59.6121C66.7132 58.1436 68.9976 57.0422 71.5268 56.3079C74.1376 55.5736 76.7892 54.9617 79.4816 54.4722C82.3371 53.901 85.0295 53.4931 87.5587 53.2484C90.1695 52.922 92.4539 52.5141 94.412 52.0245C96.3701 51.4534 97.9202 50.6784 99.0625 49.6993C100.205 48.6387 100.776 47.1293 100.776 45.1712C100.776 42.8868 100.327 41.0511 99.4296 39.6641C98.6137 38.2771 97.5123 37.2165 96.1253 36.4822C94.8199 35.7479 93.3106 35.2584 91.5972 35.0136C89.9655 34.7689 88.3338 34.6465 86.702 34.6465C82.2963 34.6465 78.6249 35.5032 75.6878 37.2165C72.7506 38.8482 71.1597 41.9893 70.9149 46.6398H60.5126C60.6757 42.7236 61.4916 39.4193 62.9602 36.727C64.4287 34.0346 66.3868 31.8725 68.8344 30.2408C71.2821 28.5275 74.056 27.3037 77.1563 26.5694C80.3382 25.8351 83.7241 25.468 87.3139 25.468C90.1695 25.468 92.9842 25.6719 95.7582 26.0799C98.6137 26.4878 101.184 27.3445 103.468 28.6498C105.753 29.8737 107.588 31.6278 108.975 33.9122C110.362 36.1967 111.056 39.1746 111.056 42.846V75.3992C111.056 77.8469 111.178 79.6418 111.423 80.784C111.749 81.9262 112.728 82.4973 114.36 82.4973C115.257 82.4973 116.318 82.2934 117.542 81.8854V89.9625ZM100.653 57.5317C99.348 58.5107 97.6347 59.245 95.5134 59.7345C93.3922 60.1425 91.1485 60.5096 88.7825 60.836C86.498 61.0807 84.1728 61.4071 81.8068 61.815C79.4408 62.1413 77.3195 62.7125 75.443 63.5283C73.5665 64.3442 72.0163 65.5272 70.7925 67.0774C69.6503 68.5459 69.0792 70.5856 69.0792 73.1964C69.0792 74.9097 69.4056 76.3783 70.0583 77.6021C70.7925 78.7443 71.69 79.6826 72.7506 80.4169C73.8929 81.1511 75.1982 81.6814 76.6668 82.0078C78.1354 82.3341 79.6855 82.4973 81.3173 82.4973C84.7439 82.4973 87.6811 82.0486 90.1287 81.1511C92.5763 80.1721 94.5752 78.9891 96.1253 77.6021C97.6755 76.1335 98.8177 74.5834 99.552 72.9516C100.286 71.2383 100.653 69.6474 100.653 68.1788V57.5317Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M122.328 26.9365H132.119V36.9717H132.363C136.687 29.3025 143.541 25.468 152.923 25.468C157.084 25.468 160.552 26.0391 163.326 27.1813C166.1 28.3235 168.343 29.9144 170.057 31.9541C171.77 33.9938 172.953 36.4414 173.606 39.297C174.34 42.0709 174.707 45.1712 174.707 48.5979V90.2073H164.305V47.3741C164.305 43.4579 163.162 40.3576 160.878 38.0732C158.594 35.7887 155.453 34.6465 151.455 34.6465C148.273 34.6465 145.499 35.136 143.133 36.1151C140.848 37.0941 138.931 38.4811 137.381 40.276C135.831 42.0709 134.648 44.1922 133.832 46.6398C133.098 49.0058 132.731 51.6166 132.731 54.4722V90.2073H122.328V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M229.37 52.5141C229.207 50.0665 228.636 47.7412 227.657 45.5384C226.759 43.3355 225.495 41.459 223.863 39.9089C222.313 38.2771 220.436 37.0125 218.233 36.1151C216.112 35.136 213.746 34.6465 211.135 34.6465C208.443 34.6465 205.995 35.136 203.793 36.1151C201.671 37.0125 199.836 38.2771 198.285 39.9089C196.735 41.5406 195.511 43.4579 194.614 45.6608C193.717 47.782 193.186 50.0665 193.023 52.5141H229.37ZM239.405 70.1369C238.018 77.235 234.959 82.5789 230.227 86.1687C225.495 89.7586 219.539 91.5535 212.359 91.5535C207.301 91.5535 202.895 90.7376 199.142 89.1059C195.471 87.4741 192.37 85.1897 189.841 82.2526C187.312 79.3154 185.395 75.8072 184.089 71.7278C182.865 67.6485 182.172 63.202 182.009 58.3883C182.009 53.5747 182.743 49.169 184.212 45.1712C185.68 41.1735 187.72 37.706 190.331 34.7689C193.023 31.8317 196.164 29.5473 199.754 27.9156C203.425 26.2838 207.423 25.468 211.747 25.468C217.377 25.468 222.027 26.651 225.699 29.017C229.452 31.3014 232.43 34.2386 234.632 37.8284C236.917 41.4182 238.467 45.3344 239.283 49.5769C240.18 53.8195 240.548 57.858 240.384 61.6926H193.023C192.941 64.4666 193.268 67.1182 194.002 69.6474C194.736 72.095 195.919 74.2978 197.551 76.2559C199.183 78.1324 201.263 79.6418 203.793 80.784C206.322 81.9262 209.3 82.4973 212.726 82.4973C217.132 82.4973 220.722 81.4775 223.496 79.4378C226.351 77.3981 228.228 74.2978 229.125 70.1369H239.405Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>

      <g>
        <path
          d="M356.087 90.2073H343.971L324.023 16.7789H323.778L303.585 90.2073H291.47L269.074 2.82754H280.945L298.078 75.5216H298.323L317.904 2.82754H330.509L349.845 75.5216H350.09L367.835 2.82754H379.461L356.087 90.2073Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M394.854 15.5551H384.452V2.82754H394.854V15.5551ZM384.452 26.9365H394.854V90.2073H384.452V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M405.707 26.9365H415.498V40.276H415.742C418.272 35.136 421.372 31.3422 425.043 28.8946C428.715 26.447 433.365 25.3048 438.995 25.468V36.4822C434.834 36.4822 431.285 37.0533 428.348 38.1955C425.41 39.3378 423.044 41.0103 421.25 43.2131C419.455 45.416 418.149 48.1084 417.333 51.2903C416.517 54.3906 416.11 57.9804 416.11 62.0598V90.2073H405.707V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M452.947 15.5551H442.545V2.82754H452.947V15.5551ZM442.545 26.9365H452.947V90.2073H442.545V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M464.167 2.82754H474.569V36.2374H474.814C475.63 34.2794 476.772 32.6476 478.241 31.3422C479.709 29.9552 481.341 28.8538 483.136 28.0379C485.012 27.1405 486.93 26.4878 488.888 26.0799C490.927 25.6719 492.885 25.468 494.762 25.468C498.923 25.468 502.39 26.0391 505.164 27.1813C507.938 28.3235 510.182 29.9144 511.895 31.9541C513.609 33.9938 514.792 36.4414 515.444 39.297C516.179 42.0709 516.546 45.1712 516.546 48.5979V90.2073H506.143V47.3741C506.143 43.4579 505.001 40.3576 502.717 38.0732C500.432 35.7887 497.291 34.6465 493.293 34.6465C490.112 34.6465 487.338 35.136 484.972 36.1151C482.687 37.0941 480.77 38.4811 479.22 40.276C477.67 42.0709 476.486 44.1922 475.671 46.6398C474.936 49.0058 474.569 51.6166 474.569 54.4722V90.2073H464.167V2.82754Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M583.325 89.9625C581.53 91.0232 579.041 91.5535 575.859 91.5535C573.167 91.5535 571.005 90.8192 569.373 89.3506C567.823 87.8005 567.048 85.3121 567.048 81.8854C564.192 85.3121 560.847 87.8005 557.013 89.3506C553.26 90.8192 549.18 91.5535 544.775 91.5535C541.919 91.5535 539.186 91.2271 536.575 90.5744C534.046 89.9217 531.843 88.9019 529.966 87.5149C528.09 86.1279 526.581 84.333 525.438 82.1302C524.378 79.8457 523.847 77.1126 523.847 73.9307C523.847 70.3408 524.459 67.4037 525.683 65.1193C526.907 62.8348 528.498 60.9991 530.456 59.6121C532.496 58.1436 534.78 57.0422 537.309 56.3079C539.92 55.5736 542.572 54.9617 545.264 54.4722C548.12 53.901 550.812 53.4931 553.341 53.2484C555.952 52.922 558.236 52.5141 560.195 52.0245C562.153 51.4534 563.703 50.6784 564.845 49.6993C565.987 48.6387 566.558 47.1293 566.558 45.1712C566.558 42.8868 566.11 41.0511 565.212 39.6641C564.396 38.2771 563.295 37.2165 561.908 36.4822C560.602 35.7479 559.093 35.2584 557.38 35.0136C555.748 34.7689 554.116 34.6465 552.485 34.6465C548.079 34.6465 544.407 35.5032 541.47 37.2165C538.533 38.8482 536.942 41.9893 536.697 46.6398H526.295C526.458 42.7236 527.274 39.4193 528.743 36.727C530.211 34.0346 532.169 31.8725 534.617 30.2408C537.065 28.5275 539.839 27.3037 542.939 26.5694C546.121 25.8351 549.507 25.468 553.096 25.468C555.952 25.468 558.767 25.6719 561.541 26.0799C564.396 26.4878 566.966 27.3445 569.251 28.6498C571.535 29.8737 573.371 31.6278 574.758 33.9122C576.145 36.1967 576.838 39.1746 576.838 42.846V75.3992C576.838 77.8469 576.961 79.6418 577.205 80.784C577.532 81.9262 578.511 82.4973 580.143 82.4973C581.04 82.4973 582.101 82.2934 583.325 81.8854V89.9625ZM566.436 57.5317C565.13 58.5107 563.417 59.245 561.296 59.7345C559.175 60.1425 556.931 60.5096 554.565 60.836C552.281 61.0807 549.955 61.4071 547.589 61.815C545.223 62.1413 543.102 62.7125 541.226 63.5283C539.349 64.3442 537.799 65.5272 536.575 67.0774C535.433 68.5459 534.862 70.5856 534.862 73.1964C534.862 74.9097 535.188 76.3783 535.841 77.6021C536.575 78.7443 537.473 79.6826 538.533 80.4169C539.675 81.1511 540.981 81.6814 542.449 82.0078C543.918 82.3341 545.468 82.4973 547.1 82.4973C550.526 82.4973 553.464 82.0486 555.911 81.1511C558.359 80.1721 560.358 78.9891 561.908 77.6021C563.458 76.1335 564.6 74.5834 565.334 72.9516C566.069 71.2383 566.436 69.6474 566.436 68.1788V57.5317Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M588.111 26.9365H597.901V36.9717H598.146C602.47 29.3025 609.323 25.468 618.706 25.468C622.867 25.468 626.334 26.0391 629.108 27.1813C631.882 28.3235 634.126 29.9144 635.839 31.9541C637.552 33.9938 638.735 36.4414 639.388 39.297C640.122 42.0709 640.49 45.1712 640.49 48.5979V90.2073H630.087V47.3741C630.087 43.4579 628.945 40.3576 626.661 38.0732C624.376 35.7887 621.235 34.6465 617.237 34.6465C614.055 34.6465 611.281 35.136 608.915 36.1151C606.631 37.0941 604.714 38.4811 603.163 40.276C601.613 42.0709 600.43 44.1922 599.614 46.6398C598.88 49.0058 598.513 51.6166 598.513 54.4722V90.2073H588.111V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M707.268 89.9625C705.473 91.0232 702.985 91.5535 699.803 91.5535C697.111 91.5535 694.949 90.8192 693.317 89.3506C691.767 87.8005 690.992 85.3121 690.992 81.8854C688.136 85.3121 684.791 87.8005 680.956 89.3506C677.203 90.8192 673.124 91.5535 668.718 91.5535C665.863 91.5535 663.13 91.2271 660.519 90.5744C657.99 89.9217 655.787 88.9019 653.91 87.5149C652.034 86.1279 650.524 84.333 649.382 82.1302C648.322 79.8457 647.791 77.1126 647.791 73.9307C647.791 70.3408 648.403 67.4037 649.627 65.1193C650.851 62.8348 652.442 60.9991 654.4 59.6121C656.44 58.1436 658.724 57.0422 661.253 56.3079C663.864 55.5736 666.516 54.9617 669.208 54.4722C672.063 53.901 674.756 53.4931 677.285 53.2484C679.896 52.922 682.18 52.5141 684.138 52.0245C686.096 51.4534 687.647 50.6784 688.789 49.6993C689.931 48.6387 690.502 47.1293 690.502 45.1712C690.502 42.8868 690.053 41.0511 689.156 39.6641C688.34 38.2771 687.239 37.2165 685.852 36.4822C684.546 35.7479 683.037 35.2584 681.324 35.0136C679.692 34.7689 678.06 34.6465 676.428 34.6465C672.023 34.6465 668.351 35.5032 665.414 37.2165C662.477 38.8482 660.886 41.9893 660.641 46.6398H650.239C650.402 42.7236 651.218 39.4193 652.687 36.727C654.155 34.0346 656.113 31.8725 658.561 30.2408C661.008 28.5275 663.782 27.3037 666.883 26.5694C670.065 25.8351 673.45 25.468 677.04 25.468C679.896 25.468 682.711 25.6719 685.484 26.0799C688.34 26.4878 690.91 27.3445 693.195 28.6498C695.479 29.8737 697.315 31.6278 698.702 33.9122C700.089 36.1967 700.782 39.1746 700.782 42.846V75.3992C700.782 77.8469 700.904 79.6418 701.149 80.784C701.476 81.9262 702.455 82.4973 704.086 82.4973C704.984 82.4973 706.044 82.2934 707.268 81.8854V89.9625ZM690.38 57.5317C689.074 58.5107 687.361 59.245 685.24 59.7345C683.118 60.1425 680.875 60.5096 678.509 60.836C676.224 61.0807 673.899 61.4071 671.533 61.815C669.167 62.1413 667.046 62.7125 665.169 63.5283C663.293 64.3442 661.743 65.5272 660.519 67.0774C659.377 68.5459 658.806 70.5856 658.806 73.1964C658.806 74.9097 659.132 76.3783 659.785 77.6021C660.519 78.7443 661.416 79.6826 662.477 80.4169C663.619 81.1511 664.925 81.6814 666.393 82.0078C667.862 82.3341 669.412 82.4973 671.044 82.4973C674.47 82.4973 677.407 82.0486 679.855 81.1511C682.303 80.1721 684.302 78.9891 685.852 77.6021C687.402 76.1335 688.544 74.5834 689.278 72.9516C690.013 71.2383 690.38 69.6474 690.38 68.1788V57.5317Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>
    </g>

    <g>
      <g>
        <path
          d="M742.934 2.82754H754.56V80.4169H800.82V90.2073H742.934V2.82754Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M848.262 52.5141C848.099 50.0665 847.528 47.7412 846.549 45.5384C845.651 43.3355 844.387 41.459 842.755 39.9089C841.205 38.2771 839.328 37.0125 837.126 36.1151C835.004 35.136 832.638 34.6465 830.028 34.6465C827.335 34.6465 824.888 35.136 822.685 36.1151C820.563 37.0125 818.728 38.2771 817.178 39.9089C815.627 41.5406 814.404 43.4579 813.506 45.6608C812.609 47.782 812.078 50.0665 811.915 52.5141H848.262ZM858.297 70.1369C856.91 77.235 853.851 82.5789 849.119 86.1687C844.387 89.7586 838.431 91.5535 831.251 91.5535C826.193 91.5535 821.787 90.7376 818.034 89.1059C814.363 87.4741 811.262 85.1897 808.733 82.2526C806.204 79.3154 804.287 75.8072 802.981 71.7278C801.758 67.6485 801.064 63.202 800.901 58.3883C800.901 53.5747 801.635 49.169 803.104 45.1712C804.572 41.1735 806.612 37.706 809.223 34.7689C811.915 31.8317 815.056 29.5473 818.646 27.9156C822.318 26.2838 826.315 25.468 830.639 25.468C836.269 25.468 840.919 26.651 844.591 29.017C848.344 31.3014 851.322 34.2386 853.525 37.8284C855.809 41.4182 857.359 45.3344 858.175 49.5769C859.072 53.8195 859.44 57.858 859.276 61.6926H811.915C811.834 64.4666 812.16 67.1182 812.894 69.6474C813.628 72.095 814.812 74.2978 816.443 76.2559C818.075 78.1324 820.155 79.6418 822.685 80.784C825.214 81.9262 828.192 82.4973 831.618 82.4973C836.024 82.4973 839.614 81.4775 842.388 79.4378C845.243 77.3981 847.12 74.2978 848.017 70.1369H858.297Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>

      <g>
        <path
          d="M907.669 44.6817H930.432C937.041 44.7633 941.854 43.4171 944.873 40.6431C947.973 37.8692 949.524 33.8714 949.524 28.6498C949.524 23.4283 947.973 19.4713 944.873 16.7789C941.854 14.005 937.041 12.618 930.432 12.618H907.669V44.6817ZM896.043 2.82754H934.348C943.16 2.82754 949.809 5.11197 954.296 9.68085C958.865 14.1681 961.15 20.4911 961.15 28.6498C961.15 36.8086 958.865 43.1723 954.296 47.7412C949.809 52.3101 943.16 54.5537 934.348 54.4722H907.669V90.2073H896.043V2.82754Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M968.424 26.9365H978.214V40.276H978.459C980.988 35.136 984.088 31.3422 987.76 28.8946C991.431 26.447 996.082 25.3048 1001.71 25.468V36.4822C997.55 36.4822 994.001 37.0533 991.064 38.1955C988.127 39.3378 985.761 41.0103 983.966 43.2131C982.171 45.416 980.866 48.1084 980.05 51.2903C979.234 54.3906 978.826 57.9804 978.826 62.0598V90.2073H968.424V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M1046.43 52.5141C1046.27 50.0665 1045.7 47.7412 1044.72 45.5384C1043.82 43.3355 1042.56 41.459 1040.93 39.9089C1039.38 38.2771 1037.5 37.0125 1035.3 36.1151C1033.17 35.136 1030.81 34.6465 1028.2 34.6465C1025.51 34.6465 1023.06 35.136 1020.86 36.1151C1018.73 37.0125 1016.9 38.2771 1015.35 39.9089C1013.8 41.5406 1012.57 43.4579 1011.68 45.6608C1010.78 47.782 1010.25 50.0665 1010.09 52.5141H1046.43ZM1056.47 70.1369C1055.08 77.235 1052.02 82.5789 1047.29 86.1687C1042.56 89.7586 1036.6 91.5535 1029.42 91.5535C1024.36 91.5535 1019.96 90.7376 1016.2 89.1059C1012.53 87.4741 1009.43 85.1897 1006.9 82.2526C1004.37 79.3154 1002.46 75.8072 1001.15 71.7278C999.928 67.6485 999.235 63.202 999.071 58.3883C999.071 53.5747 999.806 49.169 1001.27 45.1712C1002.74 41.1735 1004.78 37.706 1007.39 34.7689C1010.09 31.8317 1013.23 29.5473 1016.82 27.9156C1020.49 26.2838 1024.49 25.468 1028.81 25.468C1034.44 25.468 1039.09 26.651 1042.76 29.017C1046.51 31.3014 1049.49 34.2386 1051.7 37.8284C1053.98 41.4182 1055.53 45.3344 1056.35 49.5769C1057.24 53.8195 1057.61 57.858 1057.45 61.6926H1010.09C1010 64.4666 1010.33 67.1182 1011.06 69.6474C1011.8 72.095 1012.98 74.2978 1014.61 76.2559C1016.25 78.1324 1018.33 79.6418 1020.86 80.784C1023.38 81.9262 1026.36 82.4973 1029.79 82.4973C1034.19 82.4973 1037.78 81.4775 1040.56 79.4378C1043.41 77.3981 1045.29 74.2978 1046.19 70.1369H1056.47Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M1091.85 90.2073H1080.71L1057.22 26.9365H1068.84L1086.59 79.6826H1086.83L1104.09 26.9365H1114.98L1091.85 90.2073Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M1127.22 58.6331C1127.22 62.4677 1127.71 65.8943 1128.69 68.9131C1129.75 71.8502 1131.17 74.3386 1132.97 76.3783C1134.76 78.3364 1136.84 79.8457 1139.21 80.9064C1141.66 81.967 1144.23 82.4973 1146.92 82.4973C1149.61 82.4973 1152.14 81.967 1154.51 80.9064C1156.96 79.8457 1159.08 78.3364 1160.87 76.3783C1162.67 74.3386 1164.05 71.8502 1165.03 68.9131C1166.09 65.8943 1166.62 62.4677 1166.62 58.6331C1166.62 54.7985 1166.09 51.4126 1165.03 48.4755C1164.05 45.4568 1162.67 42.9276 1160.87 40.8879C1159.08 38.8482 1156.96 37.2981 1154.51 36.2374C1152.14 35.1768 1149.61 34.6465 1146.92 34.6465C1144.23 34.6465 1141.66 35.1768 1139.21 36.2374C1136.84 37.2981 1134.76 38.8482 1132.97 40.8879C1131.17 42.9276 1129.75 45.4568 1128.69 48.4755C1127.71 51.4126 1127.22 54.7985 1127.22 58.6331ZM1116.2 58.6331C1116.2 53.9826 1116.86 49.6585 1118.16 45.6608C1119.47 41.5814 1121.42 38.0732 1124.04 35.136C1126.65 32.1173 1129.87 29.7513 1133.7 28.0379C1137.54 26.3246 1141.94 25.468 1146.92 25.468C1151.98 25.468 1156.38 26.3246 1160.14 28.0379C1163.97 29.7513 1167.2 32.1173 1169.81 35.136C1172.42 38.0732 1174.37 41.5814 1175.68 45.6608C1176.99 49.6585 1177.64 53.9826 1177.64 58.6331C1177.64 63.2836 1176.99 67.6077 1175.68 71.6054C1174.37 75.6032 1172.42 79.1115 1169.81 82.1302C1167.2 85.0673 1163.97 87.3925 1160.14 89.1059C1156.38 90.7376 1151.98 91.5535 1146.92 91.5535C1141.94 91.5535 1137.54 90.7376 1133.7 89.1059C1129.87 87.3925 1126.65 85.0673 1124.04 82.1302C1121.42 79.1115 1119.47 75.6032 1118.16 71.6054C1116.86 67.6077 1116.2 63.2836 1116.2 58.6331Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M1191.37 70.2593C1191.45 72.5437 1191.98 74.5018 1192.96 76.1335C1193.94 77.6837 1195.21 78.9483 1196.76 79.9273C1198.39 80.8248 1200.18 81.4775 1202.14 81.8854C1204.18 82.2934 1206.26 82.4973 1208.38 82.4973C1210.01 82.4973 1211.73 82.3749 1213.52 82.1302C1215.32 81.8854 1216.95 81.4367 1218.42 80.784C1219.97 80.1313 1221.23 79.193 1222.21 77.9692C1223.19 76.6638 1223.68 75.0321 1223.68 73.074C1223.68 70.3816 1222.66 68.342 1220.62 66.955C1218.58 65.568 1216.01 64.4666 1212.91 63.6507C1209.89 62.7533 1206.59 61.9782 1203 61.3255C1199.41 60.5912 1196.06 59.6121 1192.96 58.3883C1189.94 57.0829 1187.41 55.288 1185.37 53.0036C1183.34 50.7192 1182.32 47.5373 1182.32 43.4579C1182.32 40.276 1183.01 37.5428 1184.4 35.2584C1185.86 32.974 1187.7 31.1383 1189.9 29.7513C1192.19 28.2827 1194.72 27.2221 1197.49 26.5694C1200.35 25.8351 1203.16 25.468 1205.93 25.468C1209.52 25.468 1212.83 25.7943 1215.85 26.447C1218.87 27.0181 1221.52 28.0787 1223.8 29.6289C1226.17 31.0975 1228.04 33.1371 1229.43 35.7479C1230.82 38.2771 1231.63 41.459 1231.88 45.2936H1221.48C1221.31 43.2539 1220.78 41.5814 1219.89 40.276C1218.99 38.889 1217.85 37.7876 1216.46 36.9717C1215.07 36.1559 1213.52 35.5847 1211.81 35.2584C1210.18 34.8505 1208.5 34.6465 1206.79 34.6465C1205.24 34.6465 1203.65 34.7689 1202.02 35.0136C1200.47 35.2584 1199.04 35.7071 1197.74 36.3598C1196.43 36.9309 1195.37 37.7468 1194.55 38.8074C1193.74 39.7865 1193.33 41.0919 1193.33 42.7236C1193.33 44.5185 1193.94 46.0279 1195.17 47.2517C1196.47 48.3939 1198.1 49.373 1200.06 50.1888C1202.02 50.9231 1204.22 51.5758 1206.67 52.1469C1209.12 52.6364 1211.56 53.1668 1214.01 53.7379C1216.62 54.309 1219.15 55.0025 1221.6 55.8183C1224.13 56.6342 1226.33 57.7356 1228.21 59.1226C1230.17 60.428 1231.72 62.1005 1232.86 64.1402C1234.08 66.1799 1234.69 68.7091 1234.69 71.7278C1234.69 75.5624 1233.88 78.7443 1232.25 81.2735C1230.7 83.8027 1228.62 85.8424 1226.01 87.3925C1223.48 88.9427 1220.58 90.0033 1217.32 90.5744C1214.13 91.2271 1210.95 91.5535 1207.77 91.5535C1204.26 91.5535 1200.92 91.1863 1197.74 90.4521C1194.55 89.7178 1191.74 88.5348 1189.29 86.903C1186.84 85.1897 1184.89 82.9868 1183.42 80.2945C1181.95 77.5205 1181.13 74.1754 1180.97 70.2593H1191.37Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M1255.74 26.9365H1268.35V36.1151H1255.74V75.3992C1255.74 76.6231 1255.83 77.6021 1255.99 78.3364C1256.23 79.0707 1256.64 79.6418 1257.21 80.0497C1257.78 80.4576 1258.56 80.7432 1259.54 80.9064C1260.6 80.988 1261.94 81.0288 1263.58 81.0288H1268.35V90.2073H1260.39C1257.7 90.2073 1255.38 90.0441 1253.42 89.7178C1251.54 89.3098 1249.99 88.6163 1248.77 87.6373C1247.63 86.6583 1246.77 85.2713 1246.2 83.4764C1245.63 81.6814 1245.34 79.3154 1245.34 76.3783V36.1151H1234.57V26.9365H1245.34V7.96752H1255.74V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>

      <g>
        <path
          d="M1273.3 51.2903H1308.66V61.0807H1273.3V51.2903Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M1369.94 28.4051C1369.28 22.1229 1367 17.5948 1363.08 14.8208C1359.25 11.9653 1354.31 10.5375 1348.28 10.5375C1345.83 10.5375 1343.42 10.7823 1341.06 11.2718C1338.69 11.7613 1336.57 12.5772 1334.69 13.7194C1332.9 14.8616 1331.43 16.4118 1330.29 18.3699C1329.23 20.2464 1328.69 22.6124 1328.69 25.468C1328.69 28.1603 1329.47 30.3632 1331.02 32.0765C1332.65 33.7082 1334.77 35.0544 1337.38 36.1151C1340.08 37.1757 1343.1 38.0732 1346.44 38.8074C1349.79 39.4601 1353.17 40.1944 1356.6 41.0103C1360.11 41.8262 1363.53 42.8052 1366.88 43.9474C1370.22 45.0081 1373.2 46.4766 1375.81 48.3531C1378.5 50.2296 1380.63 52.5957 1382.18 55.4512C1383.81 58.3068 1384.62 61.8966 1384.62 66.2207C1384.62 70.8712 1383.56 74.8689 1381.44 78.214C1379.4 81.4775 1376.75 84.1699 1373.49 86.2911C1370.22 88.3308 1366.55 89.7994 1362.47 90.6968C1358.47 91.6759 1354.48 92.1654 1350.48 92.1654C1345.58 92.1654 1340.93 91.5535 1336.53 90.3297C1332.2 89.1059 1328.37 87.2702 1325.02 84.8225C1321.76 82.2934 1319.15 79.1115 1317.19 75.2769C1315.31 71.3607 1314.38 66.751 1314.38 61.4479H1325.39C1325.39 65.1193 1326.08 68.3012 1327.47 70.9935C1328.94 73.6043 1330.82 75.7664 1333.1 77.4797C1335.47 79.193 1338.2 80.4576 1341.3 81.2735C1344.4 82.0894 1347.58 82.4973 1350.85 82.4973C1353.46 82.4973 1356.07 82.2526 1358.68 81.763C1361.37 81.2735 1363.78 80.4576 1365.9 79.3154C1368.02 78.0916 1369.73 76.4599 1371.04 74.4202C1372.34 72.3805 1373 69.7697 1373 66.5878C1373 63.5691 1372.18 61.1215 1370.55 59.245C1369 57.3685 1366.88 55.8591 1364.19 54.7169C1361.57 53.4931 1358.6 52.5141 1355.25 51.7798C1351.91 51.0455 1348.48 50.3112 1344.97 49.5769C1341.54 48.7611 1338.16 47.8636 1334.81 46.8846C1331.47 45.8239 1328.45 44.4777 1325.76 42.846C1323.15 41.1327 1321.03 38.9706 1319.39 36.3598C1317.84 33.6675 1317.07 30.3224 1317.07 26.3246C1317.07 21.9189 1317.97 18.1251 1319.76 14.9432C1321.56 11.6797 1323.92 9.02816 1326.86 6.98848C1329.88 4.86722 1333.26 3.31706 1337.02 2.33801C1340.85 1.27738 1344.77 0.74707 1348.77 0.74707C1353.25 0.74707 1357.41 1.27738 1361.25 2.33801C1365.08 3.39865 1368.43 5.07118 1371.28 7.35562C1374.22 9.64006 1376.51 12.5364 1378.14 16.0446C1379.85 19.4713 1380.79 23.5914 1380.95 28.4051H1369.94Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M1392.14 26.9365H1401.93V36.2374H1402.18C1406.91 29.0578 1413.72 25.468 1422.61 25.468C1426.53 25.468 1430.08 26.2838 1433.26 27.9156C1436.44 29.5473 1438.69 32.3213 1439.99 36.2374C1442.11 32.8108 1444.89 30.1592 1448.31 28.2827C1451.82 26.4062 1455.66 25.468 1459.82 25.468C1463 25.468 1465.86 25.8351 1468.38 26.5694C1471 27.2221 1473.2 28.2827 1474.99 29.7513C1476.87 31.2198 1478.3 33.1371 1479.28 35.5032C1480.34 37.7876 1480.87 40.5616 1480.87 43.825V90.2073H1470.47V48.7203C1470.47 46.7622 1470.3 44.9265 1469.98 43.2131C1469.65 41.4998 1469.04 40.0312 1468.14 38.8074C1467.24 37.502 1465.98 36.4822 1464.35 35.7479C1462.8 35.0136 1460.76 34.6465 1458.23 34.6465C1453.09 34.6465 1449.05 36.1151 1446.11 39.0522C1443.17 41.9893 1441.71 45.9055 1441.71 50.8007V90.2073H1431.3V48.7203C1431.3 46.6806 1431.1 44.8041 1430.69 43.0908C1430.37 41.3774 1429.75 39.9089 1428.86 38.6851C1427.96 37.3797 1426.73 36.4006 1425.18 35.7479C1423.72 35.0136 1421.8 34.6465 1419.43 34.6465C1416.41 34.6465 1413.8 35.2584 1411.6 36.4822C1409.48 37.706 1407.72 39.1746 1406.34 40.8879C1405.03 42.6012 1404.05 44.3962 1403.4 46.2727C1402.83 48.0676 1402.54 49.5769 1402.54 50.8007V90.2073H1392.14V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M1502.59 15.5551H1492.19V2.82754H1502.59V15.5551ZM1492.19 26.9365H1502.59V90.2073H1492.19V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M1528.26 26.9365H1540.86V36.1151H1528.26V75.3992C1528.26 76.6231 1528.34 77.6021 1528.5 78.3364C1528.75 79.0707 1529.15 79.6418 1529.72 80.0497C1530.3 80.4576 1531.07 80.7432 1532.05 80.9064C1533.11 80.988 1534.46 81.0288 1536.09 81.0288H1540.86V90.2073H1532.91C1530.21 90.2073 1527.89 90.0441 1525.93 89.7178C1524.05 89.3098 1522.5 88.6163 1521.28 87.6373C1520.14 86.6583 1519.28 85.2713 1518.71 83.4764C1518.14 81.6814 1517.85 79.3154 1517.85 76.3783V36.1151H1507.08V26.9365H1517.85V7.96752H1528.26V26.9365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M1547.52 2.82754H1557.92V36.2374H1558.17C1558.99 34.2794 1560.13 32.6476 1561.6 31.3422C1563.06 29.9552 1564.7 28.8538 1566.49 28.0379C1568.37 27.1405 1570.28 26.4878 1572.24 26.0799C1574.28 25.6719 1576.24 25.468 1578.12 25.468C1582.28 25.468 1585.75 26.0391 1588.52 27.1813C1591.29 28.3235 1593.54 29.9144 1595.25 31.9541C1596.96 33.9938 1598.15 36.4414 1598.8 39.297C1599.53 42.0709 1599.9 45.1712 1599.9 48.5979V90.2073H1589.5V47.3741C1589.5 43.4579 1588.36 40.3576 1586.07 38.0732C1583.79 35.7887 1580.65 34.6465 1576.65 34.6465C1573.47 34.6465 1570.69 35.136 1568.33 36.1151C1566.04 37.0941 1564.12 38.4811 1562.57 40.276C1561.02 42.0709 1559.84 44.1922 1559.03 46.6398C1558.29 49.0058 1557.92 51.6166 1557.92 54.4722V90.2073H1547.52V2.82754Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>
    </g>
  </svg>

  <!-- Mobile -->
  <svg
    viewBox="0 0 375 80"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="sm-t:hidden text-blue-invert"
  >
    <g>
      <g>
        <path
          d="M0.0854492 0H5.17294V33.9523H25.4158V38.2365H0.0854492V0Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M51.4778 38.1294C50.6924 38.5935 49.6035 38.8256 48.2111 38.8256C47.033 38.8256 46.0869 38.5042 45.3729 37.8616C44.6945 37.1833 44.3554 36.0944 44.3554 34.5949C43.1058 36.0944 41.642 37.1833 39.9641 37.8616C38.3218 38.5042 36.5367 38.8256 34.6088 38.8256C33.3593 38.8256 32.1632 38.6827 31.0208 38.3971C29.914 38.1115 28.9501 37.6653 28.129 37.0583C27.3078 36.4514 26.6473 35.666 26.1475 34.702C25.6834 33.7024 25.4513 32.5064 25.4513 31.114C25.4513 29.5431 25.7191 28.2579 26.2546 27.2582C26.7901 26.2586 27.4863 25.4553 28.3432 24.8484C29.2357 24.2057 30.2354 23.7238 31.3421 23.4024C32.4846 23.0811 33.6449 22.8134 34.823 22.5992C36.0726 22.3492 37.2507 22.1707 38.3575 22.0636C39.4999 21.9208 40.4996 21.7423 41.3564 21.5281C42.2133 21.2782 42.8916 20.939 43.3914 20.5106C43.8912 20.0465 44.1412 19.386 44.1412 18.5292C44.1412 17.5295 43.9448 16.7262 43.5521 16.1193C43.1951 15.5124 42.7131 15.0483 42.1062 14.7269C41.5349 14.4056 40.8744 14.1914 40.1247 14.0843C39.4107 13.9772 38.6966 13.9236 37.9826 13.9236C36.0547 13.9236 34.4482 14.2985 33.1629 15.0482C31.8776 15.7623 31.1815 17.1368 31.0743 19.1718H26.5224C26.5938 17.4581 26.9508 16.0122 27.5934 14.834C28.2361 13.6559 29.0929 12.7098 30.164 11.9958C31.235 11.246 32.4489 10.7105 33.8055 10.3892C35.1979 10.0679 36.6795 9.90721 38.2504 9.90721C39.4999 9.90721 40.7316 9.99646 41.9455 10.175C43.1951 10.3535 44.3197 10.7283 45.3193 11.2996C46.319 11.8351 47.1222 12.6027 47.7292 13.6023C48.3361 14.602 48.6396 15.9051 48.6396 17.5117V31.7566C48.6396 32.8277 48.6931 33.6131 48.8002 34.1129C48.943 34.6128 49.3714 34.8627 50.0855 34.8627C50.4782 34.8627 50.9423 34.7734 51.4778 34.5949V38.1294ZM44.0876 23.938C43.5164 24.3664 42.7666 24.6877 41.8384 24.9019C40.9101 25.0804 39.9284 25.2411 38.893 25.3839C37.8934 25.491 36.8759 25.6338 35.8405 25.8123C34.8052 25.9551 33.8769 26.205 33.0558 26.562C32.2346 26.9191 31.5563 27.4367 31.0208 28.1151C30.521 28.7577 30.2711 29.6502 30.2711 30.7927C30.2711 31.5424 30.4139 32.185 30.6995 32.7206C31.0208 33.2204 31.4135 33.631 31.8776 33.9523C32.3775 34.2736 32.9487 34.5057 33.5913 34.6485C34.2339 34.7913 34.9123 34.8627 35.6263 34.8627C37.1258 34.8627 38.411 34.6663 39.4821 34.2736C40.5531 33.8452 41.4278 33.3275 42.1062 32.7206C42.7845 32.0779 43.2843 31.3996 43.6056 30.6856C43.9269 29.9358 44.0876 29.2397 44.0876 28.597V23.938Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M53.5722 10.5498H57.8564V14.9411H57.9635C59.8557 11.5852 62.8547 9.90721 66.9604 9.90721C68.7811 9.90721 70.2985 10.1571 71.5123 10.6569C72.7262 11.1568 73.708 11.853 74.4577 12.7455C75.2075 13.638 75.7251 14.7091 76.0107 15.9586C76.3321 17.1725 76.4927 18.5292 76.4927 20.0286V38.2365H71.9407V19.4931C71.9407 17.7794 71.4409 16.4228 70.4413 15.4231C69.4416 14.4235 68.0671 13.9236 66.3177 13.9236C64.9254 13.9236 63.7115 14.1379 62.6762 14.5663C61.6765 14.9947 60.8375 15.6016 60.1592 16.3871C59.4809 17.1725 58.9632 18.1007 58.6062 19.1718C58.2849 20.2071 58.1242 21.3496 58.1242 22.5992V38.2365H53.5722V10.5498Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M100.413 21.7423C100.341 20.6713 100.091 19.6538 99.6629 18.6898C99.2702 17.7259 98.7169 16.9047 98.0028 16.2264C97.3245 15.5124 96.5033 14.959 95.5394 14.5663C94.6112 14.1379 93.5758 13.9236 92.4333 13.9236C91.2552 13.9236 90.1842 14.1379 89.2202 14.5663C88.292 14.959 87.4887 15.5124 86.8103 16.2264C86.132 16.9404 85.5965 17.7794 85.2038 18.7434C84.8111 19.6716 84.579 20.6713 84.5076 21.7423H100.413ZM104.804 29.4539C104.197 32.5599 102.858 34.8984 100.788 36.4692C98.7168 38.0401 96.1106 38.8256 92.9689 38.8256C90.7554 38.8256 88.8275 38.4685 87.1852 37.7545C85.5786 37.0405 84.222 36.0408 83.1152 34.7556C82.0085 33.4703 81.1695 31.9351 80.5983 30.15C80.0627 28.365 79.7593 26.4192 79.6879 24.3128C79.6879 22.2064 80.0092 20.2785 80.6518 18.5292C81.2944 16.7798 82.187 15.2625 83.3294 13.9772C84.5076 12.6919 85.8821 11.6923 87.453 10.9783C89.0595 10.2642 90.8089 9.90721 92.7011 9.90721C95.1645 9.90721 97.1995 10.4249 98.8061 11.4602C100.448 12.4599 101.751 13.7451 102.715 15.316C103.715 16.8869 104.393 18.6006 104.75 20.4571C105.143 22.3135 105.304 24.0808 105.232 25.7587H84.5076C84.4719 26.9726 84.6147 28.1329 84.936 29.2397C85.2573 30.3107 85.775 31.2747 86.489 32.1315C87.2031 32.9526 88.1134 33.6131 89.2202 34.1129C90.327 34.6128 91.6301 34.8627 93.1295 34.8627C95.0574 34.8627 96.6283 34.4164 97.8422 33.5239C99.0917 32.6313 99.9128 31.2747 100.306 29.4539H104.804Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>

      <g>
        <path
          d="M155.863 38.2365H150.561L141.832 6.10498H141.725L132.888 38.2365H127.587L117.787 0H122.981L130.479 31.8102H130.586L139.154 0H144.67L153.131 31.8102H153.238L161.004 0H166.091L155.863 38.2365Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M172.827 5.56946H168.275V0H172.827V5.56946ZM168.275 10.5498H172.827V38.2365H168.275V10.5498Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M177.576 10.5498H181.86V16.3871H181.967C183.074 14.1379 184.431 12.4777 186.037 11.4067C187.644 10.3356 189.679 9.83581 192.142 9.90721V14.7269C190.321 14.7269 188.768 14.9768 187.483 15.4767C186.198 15.9765 185.163 16.7084 184.377 17.6723C183.592 18.6363 183.02 19.8144 182.663 21.2068C182.306 22.5634 182.128 24.1343 182.128 25.9194V38.2365H177.576V10.5498Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M198.248 5.56946H193.696V0H198.248V5.56946ZM193.696 10.5498H198.248V38.2365H193.696V10.5498Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M203.157 0H207.709V14.6198H207.816C208.173 13.763 208.673 13.049 209.316 12.4777C209.958 11.8708 210.672 11.3888 211.458 11.0318C212.279 10.6391 213.118 10.3535 213.975 10.175C214.867 9.99646 215.724 9.90721 216.545 9.90721C218.366 9.90721 219.884 10.1571 221.097 10.6569C222.311 11.1568 223.293 11.853 224.043 12.7455C224.792 13.638 225.31 14.7091 225.596 15.9586C225.917 17.1725 226.078 18.5292 226.078 20.0286V38.2365H221.526V19.4931C221.526 17.7794 221.026 16.4228 220.026 15.4231C219.027 14.4235 217.652 13.9236 215.903 13.9236C214.51 13.9236 213.297 14.1379 212.261 14.5663C211.262 14.9947 210.423 15.6016 209.744 16.3871C209.066 17.1725 208.548 18.1007 208.191 19.1718C207.87 20.2071 207.709 21.3496 207.709 22.5992V38.2365H203.157V0Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M255.299 38.1294C254.514 38.5935 253.425 38.8256 252.033 38.8256C250.855 38.8256 249.908 38.5042 249.194 37.8616C248.516 37.1833 248.177 36.0944 248.177 34.5949C246.927 36.0944 245.464 37.1833 243.786 37.8616C242.143 38.5042 240.358 38.8256 238.43 38.8256C237.181 38.8256 235.985 38.6827 234.842 38.3971C233.736 38.1115 232.772 37.6653 231.951 37.0583C231.129 36.4514 230.469 35.666 229.969 34.702C229.505 33.7024 229.273 32.5064 229.273 31.114C229.273 29.5431 229.541 28.2579 230.076 27.2582C230.612 26.2586 231.308 25.4553 232.165 24.8484C233.057 24.2057 234.057 23.7238 235.164 23.4024C236.306 23.0811 237.466 22.8134 238.645 22.5992C239.894 22.3492 241.072 22.1707 242.179 22.0636C243.322 21.9208 244.321 21.7423 245.178 21.5281C246.035 21.2782 246.713 20.939 247.213 20.5106C247.713 20.0465 247.963 19.386 247.963 18.5292C247.963 17.5295 247.766 16.7262 247.374 16.1193C247.017 15.5124 246.535 15.0483 245.928 14.7269C245.357 14.4056 244.696 14.1914 243.946 14.0843C243.232 13.9772 242.518 13.9236 241.804 13.9236C239.876 13.9236 238.27 14.2985 236.984 15.0482C235.699 15.7623 235.003 17.1368 234.896 19.1718H230.344C230.415 17.4581 230.772 16.0122 231.415 14.834C232.058 13.6559 232.914 12.7098 233.986 11.9958C235.057 11.246 236.27 10.7105 237.627 10.3892C239.019 10.0679 240.501 9.90721 242.072 9.90721C243.322 9.90721 244.553 9.99646 245.767 10.175C247.017 10.3535 248.141 10.7283 249.141 11.2996C250.141 11.8351 250.944 12.6027 251.551 13.6023C252.158 14.602 252.461 15.9051 252.461 17.5117V31.7566C252.461 32.8277 252.515 33.6131 252.622 34.1129C252.765 34.6128 253.193 34.8627 253.907 34.8627C254.3 34.8627 254.764 34.7734 255.299 34.5949V38.1294ZM247.909 23.938C247.338 24.3664 246.588 24.6877 245.66 24.9019C244.732 25.0804 243.75 25.2411 242.715 25.3839C241.715 25.491 240.697 25.6338 239.662 25.8123C238.627 25.9551 237.699 26.205 236.877 26.562C236.056 26.9191 235.378 27.4367 234.842 28.1151C234.343 28.7577 234.093 29.6502 234.093 30.7927C234.093 31.5424 234.235 32.185 234.521 32.7206C234.842 33.2204 235.235 33.631 235.699 33.9523C236.199 34.2736 236.77 34.5057 237.413 34.6485C238.056 34.7913 238.734 34.8627 239.448 34.8627C240.947 34.8627 242.233 34.6663 243.304 34.2736C244.375 33.8452 245.249 33.3275 245.928 32.7206C246.606 32.0779 247.106 31.3996 247.427 30.6856C247.749 29.9358 247.909 29.2397 247.909 28.597V23.938Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M257.394 10.5498H261.678V14.9411H261.785C263.677 11.5852 266.676 9.90721 270.782 9.90721C272.603 9.90721 274.12 10.1571 275.334 10.6569C276.548 11.1568 277.53 11.853 278.279 12.7455C279.029 13.638 279.547 14.7091 279.832 15.9586C280.154 17.1725 280.314 18.5292 280.314 20.0286V38.2365H275.762V19.4931C275.762 17.7794 275.262 16.4228 274.263 15.4231C273.263 14.4235 271.889 13.9236 270.139 13.9236C268.747 13.9236 267.533 14.1379 266.498 14.5663C265.498 14.9947 264.659 15.6016 263.981 16.3871C263.302 17.1725 262.785 18.1007 262.428 19.1718C262.106 20.2071 261.946 21.3496 261.946 22.5992V38.2365H257.394V10.5498Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M309.536 38.1294C308.751 38.5935 307.662 38.8256 306.269 38.8256C305.091 38.8256 304.145 38.5042 303.431 37.8616C302.753 37.1833 302.413 36.0944 302.413 34.5949C301.164 36.0944 299.7 37.1833 298.022 37.8616C296.38 38.5042 294.595 38.8256 292.667 38.8256C291.417 38.8256 290.221 38.6827 289.079 38.3971C287.972 38.1115 287.008 37.6653 286.187 37.0583C285.366 36.4514 284.705 35.666 284.206 34.702C283.741 33.7024 283.509 32.5064 283.509 31.114C283.509 29.5431 283.777 28.2579 284.313 27.2582C284.848 26.2586 285.544 25.4553 286.401 24.8484C287.294 24.2057 288.293 23.7238 289.4 23.4024C290.543 23.0811 291.703 22.8134 292.881 22.5992C294.131 22.3492 295.309 22.1707 296.416 22.0636C297.558 21.9208 298.558 21.7423 299.414 21.5281C300.271 21.2782 300.95 20.939 301.449 20.5106C301.949 20.0465 302.199 19.386 302.199 18.5292C302.199 17.5295 302.003 16.7262 301.61 16.1193C301.253 15.5124 300.771 15.0483 300.164 14.7269C299.593 14.4056 298.933 14.1914 298.183 14.0843C297.469 13.9772 296.755 13.9236 296.041 13.9236C294.113 13.9236 292.506 14.2985 291.221 15.0482C289.936 15.7623 289.24 17.1368 289.132 19.1718H284.58C284.652 17.4581 285.009 16.0122 285.652 14.834C286.294 13.6559 287.151 12.7098 288.222 11.9958C289.293 11.246 290.507 10.7105 291.864 10.3892C293.256 10.0679 294.738 9.90721 296.308 9.90721C297.558 9.90721 298.79 9.99646 300.004 10.175C301.253 10.3535 302.378 10.7283 303.377 11.2996C304.377 11.8351 305.18 12.6027 305.787 13.6023C306.394 14.602 306.698 15.9051 306.698 17.5117V31.7566C306.698 32.8277 306.751 33.6131 306.858 34.1129C307.001 34.6128 307.43 34.8627 308.144 34.8627C308.536 34.8627 309 34.7734 309.536 34.5949V38.1294ZM302.146 23.938C301.574 24.3664 300.825 24.6877 299.896 24.9019C298.968 25.0804 297.986 25.2411 296.951 25.3839C295.951 25.491 294.934 25.6338 293.899 25.8123C292.863 25.9551 291.935 26.205 291.114 26.562C290.293 26.9191 289.614 27.4367 289.079 28.1151C288.579 28.7577 288.329 29.6502 288.329 30.7927C288.329 31.5424 288.472 32.185 288.758 32.7206C289.079 33.2204 289.472 33.631 289.936 33.9523C290.436 34.2736 291.007 34.5057 291.649 34.6485C292.292 34.7913 292.97 34.8627 293.684 34.8627C295.184 34.8627 296.469 34.6663 297.54 34.2736C298.611 33.8452 299.486 33.3275 300.164 32.7206C300.843 32.0779 301.342 31.3996 301.664 30.6856C301.985 29.9358 302.146 29.2397 302.146 28.597V23.938Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>
    </g>

    <g>
      <g>
        <path
          d="M0 40.0037H5.08749V73.9559H25.3304V78.2401H0V40.0037Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M46.0907 61.746C46.0193 60.6749 45.7694 59.6574 45.341 58.6935C44.9482 57.7295 44.3949 56.9084 43.6808 56.2301C43.0025 55.516 42.1814 54.9626 41.2174 54.5699C40.2892 54.1415 39.2538 53.9273 38.1114 53.9273C36.9332 53.9273 35.8622 54.1415 34.8982 54.5699C33.97 54.9626 33.1667 55.516 32.4884 56.2301C31.81 56.9441 31.2745 57.7831 30.8818 58.747C30.4891 59.6753 30.257 60.6749 30.1856 61.746H46.0907ZM50.482 69.4575C49.875 72.5636 48.5363 74.902 46.4656 76.4729C44.3949 78.0438 41.7887 78.8292 38.6469 78.8292C36.4334 78.8292 34.5055 78.4722 32.8633 77.7582C31.2567 77.0441 29.9 76.0445 28.7932 74.7592C27.6865 73.474 26.8475 71.9388 26.2763 70.1537C25.7408 68.3686 25.4373 66.4229 25.3659 64.3165C25.3659 62.2101 25.6872 60.2822 26.3298 58.5328C26.9725 56.7834 27.865 55.2661 29.0075 53.9809C30.1856 52.6956 31.5601 51.6959 33.131 50.9819C34.7376 50.2679 36.487 49.9109 38.3791 49.9109C40.8426 49.9109 42.8776 50.4285 44.4841 51.4639C46.1264 52.4635 47.4295 53.7488 48.3934 55.3197C49.3931 56.8905 50.0714 58.6042 50.4284 60.4607C50.8211 62.3172 50.9818 64.0844 50.9104 65.7624H30.1856C30.1499 66.9763 30.2927 68.1366 30.614 69.2433C30.9353 70.3144 31.453 71.2783 32.1671 72.1351C32.8811 72.9563 33.7915 73.6168 34.8982 74.1166C36.005 74.6164 37.3081 74.8663 38.8076 74.8663C40.7355 74.8663 42.3063 74.42 43.5202 73.5275C44.7697 72.635 45.5909 71.2783 45.9836 69.4575H50.482Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>

      <g>
        <path
          d="M72.0867 58.3186H82.0474C84.9392 58.3543 87.0456 57.7652 88.3666 56.5514C89.7233 55.3375 90.4016 53.5881 90.4016 51.3032C90.4016 49.0183 89.7233 47.2868 88.3666 46.1086C87.0456 44.8948 84.9392 44.2879 82.0474 44.2879H72.0867V58.3186ZM66.9992 40.0037H83.7611C87.6169 40.0037 90.5266 41.0033 92.4902 43.0026C94.4895 44.9662 95.4891 47.7331 95.4891 51.3032C95.4891 54.8734 94.4895 57.6581 92.4902 59.6574C90.5266 61.6567 87.6169 62.6385 83.7611 62.6028H72.0867V78.2401H66.9992V40.0037Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M98.6721 50.5535H102.956V56.3907H103.063C104.17 54.1415 105.527 52.4814 107.133 51.4103C108.74 50.3393 110.775 49.8395 113.238 49.9109V54.7306C111.418 54.7306 109.865 54.9805 108.579 55.4803C107.294 55.9801 106.259 56.712 105.473 57.676C104.688 58.6399 104.117 59.8181 103.76 61.2104C103.403 62.5671 103.224 64.138 103.224 65.9231V78.2401H98.6721V50.5535Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M132.808 61.746C132.737 60.6749 132.487 59.6574 132.058 58.6935C131.666 57.7295 131.112 56.9084 130.398 56.2301C129.72 55.516 128.899 54.9626 127.935 54.5699C127.007 54.1415 125.971 53.9273 124.829 53.9273C123.651 53.9273 122.58 54.1415 121.616 54.5699C120.687 54.9626 119.884 55.516 119.206 56.2301C118.527 56.9441 117.992 57.7831 117.599 58.747C117.206 59.6753 116.974 60.6749 116.903 61.746H132.808ZM137.199 69.4575C136.592 72.5636 135.254 74.902 133.183 76.4729C131.112 78.0438 128.506 78.8292 125.364 78.8292C123.151 78.8292 121.223 78.4722 119.581 77.7582C117.974 77.0441 116.617 76.0445 115.511 74.7592C114.404 73.474 113.565 71.9388 112.994 70.1537C112.458 68.3686 112.155 66.4229 112.083 64.3165C112.083 62.2101 112.405 60.2822 113.047 58.5328C113.69 56.7834 114.582 55.2661 115.725 53.9809C116.903 52.6956 118.277 51.6959 119.848 50.9819C121.455 50.2679 123.204 49.9109 125.096 49.9109C127.56 49.9109 129.595 50.4285 131.201 51.4639C132.844 52.4635 134.147 53.7488 135.111 55.3197C136.11 56.8905 136.789 58.6042 137.146 60.4607C137.539 62.3172 137.699 64.0844 137.628 65.7624H116.903C116.867 66.9763 117.01 68.1366 117.331 69.2433C117.653 70.3144 118.17 71.2783 118.884 72.1351C119.598 72.9563 120.509 73.6168 121.616 74.1166C122.722 74.6164 124.025 74.8663 125.525 74.8663C127.453 74.8663 129.024 74.42 130.238 73.5275C131.487 72.635 132.308 71.2783 132.701 69.4575H137.199Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M152.682 78.2401H147.809L137.526 50.5535H142.614L150.379 73.6346H150.486L158.037 50.5535H162.803L152.682 78.2401Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M168.159 64.4236C168.159 66.1016 168.373 67.601 168.801 68.922C169.265 70.2073 169.89 71.2962 170.676 72.1887C171.461 73.0455 172.371 73.706 173.407 74.1701C174.478 74.6343 175.602 74.8663 176.78 74.8663C177.959 74.8663 179.065 74.6343 180.101 74.1701C181.172 73.706 182.1 73.0455 182.885 72.1887C183.671 71.2962 184.278 70.2073 184.706 68.922C185.17 67.601 185.402 66.1016 185.402 64.4236C185.402 62.7456 185.17 61.264 184.706 59.9787C184.278 58.6578 183.671 57.551 182.885 56.6585C182.1 55.7659 181.172 55.0876 180.101 54.6235C179.065 54.1594 177.959 53.9273 176.78 53.9273C175.602 53.9273 174.478 54.1594 173.407 54.6235C172.371 55.0876 171.461 55.7659 170.676 56.6585C169.89 57.551 169.265 58.6578 168.801 59.9787C168.373 61.264 168.159 62.7456 168.159 64.4236ZM163.339 64.4236C163.339 62.3886 163.624 60.4964 164.196 58.747C164.767 56.9619 165.624 55.4268 166.766 54.1415C167.909 52.8205 169.319 51.7852 170.997 51.0355C172.675 50.2857 174.603 49.9109 176.78 49.9109C178.994 49.9109 180.922 50.2857 182.564 51.0355C184.242 51.7852 185.652 52.8205 186.795 54.1415C187.937 55.4268 188.794 56.9619 189.365 58.747C189.937 60.4964 190.222 62.3886 190.222 64.4236C190.222 66.4586 189.937 68.3508 189.365 70.1001C188.794 71.8495 187.937 73.3847 186.795 74.7057C185.652 75.9909 184.242 77.0084 182.564 77.7582C180.922 78.4722 178.994 78.8292 176.78 78.8292C174.603 78.8292 172.675 78.4722 170.997 77.7582C169.319 77.0084 167.909 75.9909 166.766 74.7057C165.624 73.3847 164.767 71.8495 164.196 70.1001C163.624 68.3508 163.339 66.4586 163.339 64.4236Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M196.232 69.5111C196.267 70.5107 196.5 71.3676 196.928 72.0816C197.356 72.7599 197.91 73.3133 198.588 73.7417C199.302 74.1344 200.088 74.42 200.944 74.5986C201.837 74.7771 202.747 74.8663 203.675 74.8663C204.39 74.8663 205.139 74.8128 205.925 74.7057C206.71 74.5986 207.424 74.4022 208.067 74.1166C208.745 73.831 209.299 73.4204 209.727 72.8849C210.155 72.3136 210.37 71.5996 210.37 70.7428C210.37 69.5646 209.923 68.6721 209.031 68.0652C208.138 67.4582 207.014 66.9763 205.657 66.6192C204.336 66.2265 202.89 65.8874 201.319 65.6017C199.748 65.2804 198.285 64.852 196.928 64.3165C195.607 63.7453 194.5 62.9598 193.608 61.9602C192.715 60.9605 192.269 59.5682 192.269 57.7831C192.269 56.3907 192.572 55.1947 193.179 54.1951C193.822 53.1954 194.625 52.3921 195.589 51.7852C196.589 51.1426 197.695 50.6784 198.909 50.3928C200.159 50.0715 201.391 49.9109 202.604 49.9109C204.175 49.9109 205.621 50.0537 206.942 50.3393C208.263 50.5892 209.423 51.0533 210.423 51.7316C211.458 52.3743 212.28 53.2668 212.887 54.4093C213.493 55.516 213.85 56.9084 213.958 58.5864H209.406C209.334 57.6938 209.102 56.9619 208.709 56.3907C208.317 55.7838 207.817 55.3018 207.21 54.9448C206.603 54.5878 205.925 54.3379 205.175 54.1951C204.461 54.0166 203.729 53.9273 202.979 53.9273C202.301 53.9273 201.605 53.9809 200.891 54.088C200.212 54.1951 199.588 54.3914 199.016 54.677C198.445 54.9269 197.981 55.284 197.624 55.7481C197.267 56.1765 197.089 56.7477 197.089 57.4618C197.089 58.2472 197.356 58.9077 197.892 59.4432C198.463 59.943 199.177 60.3714 200.034 60.7285C200.891 61.0498 201.855 61.3354 202.926 61.5853C203.997 61.7995 205.068 62.0316 206.139 62.2815C207.281 62.5314 208.388 62.8349 209.459 63.1919C210.566 63.5489 211.53 64.0309 212.351 64.6378C213.208 65.209 213.886 65.9409 214.386 66.8334C214.922 67.726 215.189 68.8327 215.189 70.1537C215.189 71.8317 214.832 73.224 214.118 74.3308C213.44 75.4375 212.53 76.3301 211.387 77.0084C210.28 77.6867 209.013 78.1509 207.585 78.4008C206.192 78.6864 204.8 78.8292 203.408 78.8292C201.873 78.8292 200.409 78.6685 199.016 78.3472C197.624 78.0259 196.392 77.5082 195.321 76.7942C194.25 76.0445 193.393 75.0805 192.751 73.9024C192.108 72.6885 191.751 71.2248 191.68 69.5111H196.232Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M224.4 50.5535H229.916V54.5699H224.4V71.7603C224.4 72.2958 224.436 72.7242 224.507 73.0455C224.615 73.3669 224.793 73.6168 225.043 73.7953C225.293 73.9738 225.632 74.0987 226.06 74.1701C226.525 74.2058 227.114 74.2237 227.828 74.2237H229.916V78.2401H226.435C225.257 78.2401 224.24 78.1687 223.383 78.0259C222.562 77.8474 221.883 77.5439 221.348 77.1155C220.848 76.6871 220.473 76.0802 220.223 75.2947C219.973 74.5093 219.848 73.474 219.848 72.1887V54.5699H215.136V50.5535H219.848V42.2529H224.4V50.5535Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>

      <g>
        <path
          d="M232.081 61.2104H247.558V65.4946H232.081V61.2104Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M274.37 51.1961C274.085 48.4471 273.085 46.4657 271.371 45.2518C269.693 44.0022 267.533 43.3775 264.891 43.3775C263.82 43.3775 262.767 43.4846 261.732 43.6988C260.696 43.913 259.768 44.27 258.947 44.7698C258.162 45.2696 257.519 45.948 257.019 46.8048C256.555 47.626 256.323 48.6613 256.323 49.9109C256.323 51.089 256.662 52.053 257.341 52.8027C258.055 53.5167 258.983 54.1058 260.125 54.5699C261.303 55.034 262.624 55.4268 264.088 55.7481C265.552 56.0337 267.034 56.355 268.533 56.712C270.068 57.069 271.568 57.4975 273.031 57.9973C274.495 58.4614 275.798 59.104 276.941 59.9252C278.119 60.7463 279.047 61.7817 279.725 63.0312C280.44 64.2808 280.797 65.8517 280.797 67.7438C280.797 69.7788 280.332 71.5282 279.404 72.992C278.512 74.4201 277.351 75.5982 275.923 76.5264C274.495 77.419 272.889 78.0616 271.104 78.4543C269.354 78.8828 267.605 79.097 265.855 79.097C263.713 79.097 261.678 78.8292 259.75 78.2937C257.858 77.7582 256.18 76.9549 254.716 75.8838C253.288 74.7771 252.146 73.3847 251.289 71.7067C250.468 69.993 250.057 67.9759 250.057 65.6553H254.877C254.877 67.2619 255.181 68.6542 255.788 69.8324C256.43 70.9748 257.251 71.9209 258.251 72.6707C259.286 73.4204 260.482 73.9738 261.839 74.3308C263.196 74.6878 264.588 74.8663 266.016 74.8663C267.159 74.8663 268.301 74.7592 269.443 74.545C270.622 74.3308 271.675 73.9738 272.603 73.474C273.531 72.9384 274.281 72.2244 274.852 71.3319C275.423 70.4393 275.709 69.2969 275.709 67.9045C275.709 66.5835 275.352 65.5125 274.638 64.6913C273.96 63.8702 273.031 63.2097 271.853 62.7099C270.711 62.1744 269.408 61.746 267.944 61.4246C266.48 61.1033 264.981 60.782 263.445 60.4607C261.946 60.1037 260.464 59.711 259.001 59.2825C257.537 58.8184 256.216 58.2293 255.038 57.5153C253.895 56.7656 252.967 55.8195 252.253 54.677C251.575 53.4989 251.236 52.0351 251.236 50.2857C251.236 48.3578 251.628 46.6977 252.414 45.3053C253.199 43.8773 254.235 42.717 255.52 41.8244C256.841 40.8962 258.322 40.2179 259.965 39.7894C261.643 39.3253 263.356 39.0933 265.106 39.0933C267.069 39.0933 268.89 39.3253 270.568 39.7894C272.246 40.2536 273.71 40.9854 274.959 41.9851C276.245 42.9847 277.244 44.2521 277.958 45.7873C278.708 47.2868 279.119 49.0897 279.19 51.1961H274.37Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] text-grey-invert group-hover:text-blue-invert transition-colors"
        ></path>
        <path
          d="M284.087 50.5535H288.371V54.6235H288.478C290.549 51.4817 293.53 49.9109 297.421 49.9109C299.135 49.9109 300.688 50.2679 302.08 50.9819C303.473 51.6959 304.454 52.9098 305.026 54.6235C305.954 53.124 307.168 51.9637 308.667 51.1426C310.202 50.3214 311.88 49.9109 313.701 49.9109C315.094 49.9109 316.343 50.0715 317.45 50.3928C318.592 50.6784 319.556 51.1426 320.342 51.7852C321.163 52.4278 321.788 53.2668 322.216 54.3022C322.68 55.3018 322.912 56.5157 322.912 57.9437V78.2401H318.36V60.0858C318.36 59.229 318.289 58.4257 318.146 57.676C318.003 56.9262 317.735 56.2836 317.343 55.7481C316.95 55.1769 316.397 54.7306 315.683 54.4093C315.004 54.088 314.112 53.9273 313.005 53.9273C310.756 53.9273 308.989 54.5699 307.703 55.8552C306.418 57.1404 305.775 58.8541 305.775 60.9962V78.2401H301.223V60.0858C301.223 59.1933 301.134 58.3722 300.956 57.6224C300.813 56.8727 300.545 56.2301 300.152 55.6945C299.76 55.1233 299.224 54.6949 298.546 54.4093C297.903 54.088 297.064 53.9273 296.029 53.9273C294.708 53.9273 293.565 54.1951 292.602 54.7306C291.673 55.2661 290.906 55.9087 290.299 56.6585C289.728 57.4082 289.299 58.1936 289.013 59.0148C288.764 59.8002 288.639 60.4607 288.639 60.9962V78.2401H284.087V50.5535Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M332.42 45.5731H327.868V40.0037H332.42V45.5731ZM327.868 50.5535H332.42V78.2401H327.868V50.5535Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M343.649 50.5535H349.165V54.5699H343.649V71.7603C343.649 72.2958 343.684 72.7242 343.756 73.0455C343.863 73.3669 344.041 73.6168 344.291 73.7953C344.541 73.9738 344.88 74.0987 345.309 74.1701C345.773 74.2058 346.362 74.2237 347.076 74.2237H349.165V78.2401H345.684C344.506 78.2401 343.488 78.1687 342.631 78.0259C341.81 77.8474 341.132 77.5439 340.596 77.1155C340.096 76.6871 339.722 76.0802 339.472 75.2947C339.222 74.5093 339.097 73.474 339.097 72.1887V54.5699H334.384V50.5535H339.097V42.2529H343.649V50.5535Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
        <path
          d="M352.08 40.0037H356.632V54.6235H356.739C357.096 53.7666 357.595 53.0526 358.238 52.4814C358.881 51.8745 359.595 51.3925 360.38 51.0355C361.201 50.6427 362.04 50.3571 362.897 50.1786C363.79 50.0001 364.646 49.9109 365.468 49.9109C367.288 49.9109 368.806 50.1608 370.02 50.6606C371.233 51.1604 372.215 51.8566 372.965 52.7491C373.715 53.6417 374.232 54.7127 374.518 55.9623C374.839 57.1761 375 58.5328 375 60.0323V78.2401H370.448V59.4968C370.448 57.7831 369.948 56.4264 368.949 55.4268C367.949 54.4271 366.574 53.9273 364.825 53.9273C363.433 53.9273 362.219 54.1415 361.183 54.5699C360.184 54.9983 359.345 55.6053 358.666 56.3907C357.988 57.1761 357.47 58.1044 357.113 59.1754C356.792 60.2108 356.632 61.3532 356.632 62.6028V78.2401H352.08V40.0037Z"
          fill="currentColor"
          class="stroke-blue-invert stroke-[0.5] opacity-0 group-hover:opacity-100 transition-opacity"
        ></path>
      </g>
    </g>
  </svg>
</div>
