---
  const { categories, collaborators, software } = Astro.props;
---

<div
  id="info"
  class="grid-main group pointer-events-none absolute top-0 h-full w-full"
>
  <section
    class="text-b1 pointer-events-auto z-40 col-span-full col-start-1 grid h-full w-full -translate-x-full grid-cols-[3fr,5fr,] grid-rows-[repeat(4,_fit-content(100%))] place-content-center gap-y-4 mix-blend-difference transition-transform ease-in-out group-target:translate-x-0 sm-t:col-span-2 sm-t:grid-cols-subgrid"
  >
    {categories.length > 0 && (
      <h3 class="text-grey-invert">At a Glance</h3>
      <p class="text-deep-purple-invert">{categories.join(", ")}</p>
    )}

    {collaborators.length > 0 && (
      <h3 class="text-grey-invert">Collaborators</h3>
      <p class="text-deep-purple-invert">{collaborators.join(", ")}</p>
    )}

    {software.length > 0 && (
      <h3 class="text-grey-invert">Software</h3>
      <p class="text-deep-purple-invert">{software.join(", ")}</p>
    )}

    <h3 class="text-grey-invert">Description</h3>
    <slot />
  </section>

  <div
    class="absolute top-0 z-30 col-span-full col-start-1 h-full w-full -translate-x-full bg-white/30 backdrop-blur-[32px] transition-transform group-target:translate-x-0 sm-t:col-span-2 sm-t:col-start-1"
  ></div>
</div>
