@font-face {
  font-family: "Helvetica Neue";
  src:
    local("Helvetica Neue"),
    url("../assets/fonts/helveticaneue.woff") format("woff"),
    url("../assets/fonts/helveticaneue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local("Helvetica Neue"),
    url("../assets/fonts/helveticaneue-bold.woff") format("woff"),
    url("../assets/fonts/helveticaneue-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local("Helvetica Neue"),
    url("../assets/fonts/helveticaneue-italic.woff") format("woff"),
    url("../assets/fonts/helveticaneue-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@layer utilities {
  .text-h1,
  .text-h2,
  .text-b1,
  .text-b2,
  .text-caption {
    @apply font-main;
  }

  .text-h1 {
    /* font-size: max(1.625rem, 0.7887rem + 3.5681vw); */
    font-size: 1.625rem;
    line-height: 0.9;
    letter-spacing: 0;
  }

  .text-h2 {
    font-size: 2rem;
    line-height: 0.9;
  }

  .text-b1 {
    font-size: 1rem;
    line-height: 0.9;
  }

  .text-b2 {
    font-size: 0.75rem;
    line-height: 0.9;
  }

  .text-caption {
    font-size: 0.5625rem;
    line-height: 0.9;
  }

  @media screen("sm-t") {
    .text-h1 {
      font-size: 4rem;
      letter-spacing: -0.04em;
    }

    .text-b1 {
      font-size: 1.5rem;
    }

    .text-b2 {
      font-size: 0.875rem;
    }

    .text-caption {
      font-size: 0.875rem;
    }
  }
}
